<!--sem uso, ainda!-->
<hr>
<div class="row-fluid">
  <h1 style="margin-top: 2.5em;">Capture video data</h1>
  <label>Pos X <input type="number" ng-model="patOptsX"></label>
  <label>Pos Y <input type="number" ng-model="patOptsY"></label>
  <label>Width <input type="number" ng-model="patOptsW"></label>
  <label>Height <input type="number" ng-model="patOptsH"></label>
  <canvas id="snapshot" class="well pull-right"></canvas>
  <button ng-click="downloadSnapshot(snapshotData)" ng-disabled="!snapshotData" class="btn btn-large btn-primary">Download ^^</button>
  <button class="btn btn-small" ng-click="showBase64 = !showBase64">Show as base64 encoded URL</button>
  <textarea class="snapshot-data" ng-model="snapshotData" ng-show="showBase64"></textarea>
  <button class="btn btn-large btn-primary" ng-click="makeSnapshot()">Take snapshot!</button>
</div>
